<%- include('templates/header'); -%>

<div class="container">
    <div class ="jumbotron">
        <h1> Found Author </h1>
        <div class="row">
            <div class="col-sm-4"> </div>
            <button class="col-sm-4 btn btn-infor btn-block" onclick="location=/quotes"> Quotes </button> 
            <div class="col-sm-4"></div>            
        </div>
    </div>
    
    
    <h3> place holder</h3>
</div>

<%- include('templates/footer'); -%>

